.preloader {
	@apply inset-0 flex items-center justify-center bg-white;

	.spinner {
		width: 50px;
		height: 50px;
		border: 6px solid theme('backgroundColor.preloader-secondary');
		border-top-color: theme('backgroundColor.preloader-primary');
		border-radius: 50%;
		animation: spin 1s linear infinite;
	}
}

// Анимация вращения
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
